{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        "dynamic-import-node",
        "transform-export-extensions",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "add-module-exports",
        [ "provide-modules", {
          "debug": "debug"
        } ],
        [ "module-resolver", {
          "root": [ "./src" ]
        } ]
      ]
    }
  }
}